@model List<Report>
@using ClassLibDb.ViewModels

@{
    ViewData["Title"] = "Year-To-Date Report";
}

<h1>Report</h1>
<h4>Year-To-Date Donations</h4>
<hr>

<div id="yearToDateReport">

    <h4>Donations made to Donation System</h4>
    <p>Date: January 1, @DateTime.UtcNow.Year until @DateTime.UtcNow.ToString("MMMM d, yyyy")</p>

    <div class="table-responsive">
        <table class="table table-hover table-striped">
            <thead class="table-dark">
                <tr>
                    <th>Donor Name</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var donationReport in Model.Where(r => r.DonationDate.Year == DateTime.UtcNow.Year))
                {
                    <tr>
                        <td>@donationReport.ContactFullName</td>
                        <td>@donationReport.TotalAmount.ToString("C")</td>
                    </tr>
                }
                <tr>
                    <td><strong>Total</strong></td>
                    <td><strong>@Model.Where(r => r.DonationDate.Year == DateTime.UtcNow.Year).Sum(r => r.TotalAmount).ToString("C")</strong></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
